.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    min-height: 50px;
    width: 300px;
    padding: 0 1rem;
    color: #fff;
    font-size: 25px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    width: 210px;
    /* padding: .5em 1em; */
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    /* color: #fff; */
    color: #A2E32F;
    font-size: 25px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    /* border-color: #3898EC; */
    border-color: #A2E32F;
    outline: none;
  }
