.App {
  text-align: center;
}

body {
  /* font-family: 'Karan'; */
  background-color: #1E1E1E !important;
}

@font-face {
  font-family: "Karan";   /*Can be any text*/
  src: local("Karantina-Regular"),
    url("/src/assets/fonts/Karantina-Regular.ttf") format("truetype");
}

.container {
  /* width: -webkit-fill-available; */
  font-family: 'Karan';
}

.loader-relative {
  position: relative;
}

.loader {
  /* display: none !important; */
  position: fixed;
  z-index: 9999999999999999999999 !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  display: flex;
  background: black;
  align-items: center;
}

/* .App-logo {
  height: 60vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #1E1E1E; */
  background-size: cover;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  /* color: #292929; */
  font-size: 230px !important;
}

.jobz-photo {
  height: 800px;
}

/* .photooo {
  height: 100vh;
  display: flex;
  align-items: flex-end;
} */

.home {
  height: 100vh;
}

/* .land {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.home {
  width: -webkit-fill-available;
}

.home-content {
  height: 88vh;
  display: flex;
  align-items: end;
}

.nav-link {
  font-size: 28px !important;
  color: white !important;
  padding: 0px 24px !important;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-end;
}

.container-fluid {
  padding: unset;
}

a.nav-link-hire {
  font-size: 28px;
  padding: 2px 8px;
  color: orange;
  text-decoration: unset;
  margin-left: 10px;
  border: solid 2px;
}

.navbar-nav {
  /* display: flex; */
  align-items: center;
}

nav.navbar.navbar-expand-lg {
  padding: 24px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
