.App {
  text-align: center;
}

body {
  background: url("/src/assets/img/JOBZ2BG.png");
  background-size: cover;
}

@font-face {
  font-family: "aron";   /*Can be any text*/
  src: local("aron-wergel.regular"),
    url("/src/assets/fonts/aron-wergel.regular.ttf") format("truetype");
}

@font-face {
  font-family: "bebas";   /*Can be any text*/
    src: local("BebasNeue-Regular"),
      url("/src/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

.container {
  /* width: -webkit-fill-available; */
  font-family: 'aron';
}

.loader-relative {
  position: relative;
}

.loader {
  /* display: none !important; */
  position: fixed;
  z-index: 9999999999999999999999 !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  display: flex;
  background: black;
  align-items: center;
}

/* .App-logo {
  height: 60vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #1E1E1E; */
  background-size: cover;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 { 
  font-size: 2.5rem;
  -webkit-text-stroke: 1.5px #A2E32F;
  color: transparent;
}

.jobz-photo {
  height: 800px;
}

/* .photooo {
  height: 100vh;
  display: flex;
  align-items: flex-end;
} */

.home {
  height: 100vh;
}

/* .land {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .home {
  width: -webkit-fill-available;
} */

.home-content {
  height: 88vh;
  display: flex;
  justify-content: center;
  
}

.land-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-link {
  font-size: 24px !important;
  color: #CFD2E3 !important;
  padding: 0px 24px !important;
}

.nav-link:hover {
  font-size: 24px !important;
  color: #A2E32F !important;
  padding: 0px 24px !important;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-end;
}

.container-fluid {
  padding: unset;
}

a.nav-link-hire {
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke: 1px #A2E32F;
  text-decoration: unset;
  margin-left: 10px;
}

a.nav-link-hire:hover {
  font-size: 24px;
  color: #A2E32F;
  -webkit-text-stroke: unset;
  /* transition: all 0.5s; */
  text-decoration: unset;
  margin-left: 10px;
}

.navbar-nav {
  /* display: flex; */
  align-items: center;
}

nav.navbar.navbar-expand-lg {
  padding: 24px 0px;
}

.low-bord {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 30px;
  color: #A2E32F;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
